:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(48, 156, 156);
  }
  
  #inicio-de-sesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(217, 233, 247);
    padding: 1rem;
    border-radius: 20px;
    min-height: 20rem;
  }
  
  label {
    margin-bottom: 1rem;
  }
  
  h1 {
    color:rgb(48, 156, 156);
    font-size: 1.5rem;
  }